.fav-badge {
  position: fixed; /* Changed from relative to fixed */
  top: 30px;       /* Adjust to your preference */
  right: 40px;     /* Adjust to your preference */
  z-index: 1000;   /* Ensures it stays on top of other elements */
  
  .heart-icon {
    position: relative;
    transition: transform 0.3s ease-in-out;

    &.animate {
      animation: pulse 0.6s ease-in-out;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .fav-badge__count {
    background-color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    
    span {
      text-align: center;
      color: white;
      width: 100%;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px; 
      display: block;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
}
